<ion-view id="login-view" hide-nav-bar="true">
    <ion-content scroll="false">
        <section class="login-container">
            <div class="col header text-center">
               <img src="./img/guia-logo0.png" class = "logo" />
            </div>
            <div class="col button-row text-center">
               <img src="./img/facebook-button.png" ng-click="loginWithFacebook()" />
            </div>
            <div class="col button-row text-center">
               <a href="#/app/signup"><img src="./img/email-button.png" /></a>
            </div>
            <div class = "col text-center">
                Já é registrado? <strong><a href = "#/app/signin">Entre aqui!</a></strong>
            </div>
        </section>
    </ion-content>
</ion-view>
